[Unit]
Description=Athena Cassandra Agent

[Service]
ExecStart=/usr/local/bin/athena --config /etc/athena/athena.yaml --debug serve

[Install]
WantedBy=multi-user.target
