[Unit]
Description=CaOps Cassandra Agent
After=cassandra.service

[Service]
ExecStart=/usr/local/bin/CaOps --config /etc/CaOps/CaOps.yaml serve

[Install]
WantedBy=multi-user.target